<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1,
shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />

  <title>My blog</title>
</head>

<body>
  <div class="container">
    <%- include("partials/navbar.ejs") %>
      <h1>Posts</h1>
      <p>Total count: <%- posts.length %></p>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% posts.forEach(function(post) { %>
            <tr>
              <td><%- post["id"] %></td>
              <td><%- post["title"] %></td>
              <td><%- post["author"] %></td>
              <td>
                <a href="/posts/<%- post['id'] %>" class="btn btn-primary">Show</a>
                <a href="/posts/<%- post['id'] %>/edit" class="btn btn-success">Edit</a>
                <a href="/posts/<%- post['id'] %>/delete" class="btn btn-danger">Delete</a>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
      <a href="/new-post" class="btn btn-success">Create New Post</a>
      <!-- JavaScript -->
      <script src="jquery/jquery.min.js"></script>
      <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>